[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "argon2-cffi>=25.1.0",
    "fastapi>=0.122.0",
    "mysql-connector-python>=9.5.0",
    "pydantic-settings>=2.12.0",
    "uvicorn>=0.38.0",
]
